<h2 style="font-size: 2rem">About Sky High Store</h2>
<p style="font-style: normal">We are a dedicated team and we want to bring you the best products out there.
  On our site you will find the best prices , best selection,
  and the most efficient delivery. Our products will help to make your shopping
  experience easier and better. So, if you want the very best in the industry, then you should visit us.
</p>
<p style="font-style: normal">
  Feel free to contact us with any feedback you may have . Our goal is to create a great user experience
  for our customers and to provide the highest level of quality products. You can reach us by email, Facebook
  or Instagram
</p>

<div class="d-flex justify-content-between flex-wrap">

  <div>
    <p>CEO: Adrian Berejnec</p>
<!--    <p-image [preview]="true" [src]="'assets/img_2.png'" height="300px" width="300px"></p-image>-->
    <img [src]="'assets/img_2.png'" alt="photo" height="300px" width="300px" style="border-radius: 30px">

    <h2>Contact:</h2>

    <div class="d-flex flex-column" style="gap: 10px;">

  <span style="gap: 10px">
    <i class="pi pi-telegram"></i>
    E-mail: adrian.berejnec@student.upt.ro
  </span>

      <span>
    <i class="pi pi-facebook"></i>
    Facebook: Adrian Berejnec
  </span>

      <span>
    <i class="pi pi-instagram"></i>
    Instagram: adrianberejnec
  </span>

    </div>
  </div>


  <div>
    <p>CFO: Tudor Androne</p>
<!--    <p-image [preview]="true" [src]="'assets/img.png'" height="300px" width="300px"></p-image>-->
    <img [src]="'assets/img.png'" alt="photo" height="300px" width="300px" style="border-radius: 30px">

    <!--<p-avatar image="assets/bg2.jpg" shape="circle" size="xlarge"></p-avatar>-->

    <h2>Contact:</h2>

    <div class="d-flex flex-column" style="gap: 10px;">

  <span style="gap: 10px">
    <i class="pi pi-telegram"></i>
    E-mail: tudor.androne@student.upt.ro
  </span>

      <span>
    <i class="pi pi-facebook"></i>
    Facebook: Androne Tudor
  </span>

      <span>
    <i class="pi pi-instagram"></i>
    Instagram: tudorandrone
  </span>

    </div>
  </div>


  <div>
    <p>COO: Endre Albert</p>

    <img [src]="'assets/img_3.png'" alt="photo" height="300px" width="300px" style="border-radius: 30px">
<!--    <p-image style="border-radius: 50px" [preview]="true" [src]="'assets/img_3.png'" height="300px" width="300px"></p-image>-->

    <!--<p-avatar image="assets/bg2.jpg" shape="circle" size="xlarge"></p-avatar>-->

    <h2>Contact:</h2>

    <div class="d-flex flex-column" style="gap: 10px;">

  <span style="gap: 10px">
    <i class="pi pi-telegram"></i>
    E-mail: endre.albert@student.upt.ro
  </span>

      <span>
    <i class="pi pi-facebook"></i>
    Facebook: Albert Endre
  </span>

      <span>
    <i class="pi pi-instagram"></i>
    Instagram: albertdre
  </span>

    </div>
  </div>

</div>


