<div class="container d-flex flex-column justify-content-center align-items-center">
  <h1>Sign Up</h1>

    <div class="col-12 col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="email" pInputText placeholder="Email" #email required>
      </div>
    </div>

    <div class="col-12 col-md-4 mt-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input type="password" pInputText placeholder="Password" #password required>
      </div>
    </div>

</div>

<div class="container d-flex flex-column justify-content-center align-items-center mt-4 mb-4">
  <button pButton label="Sign up" (click)="signUp(email.value, password.value)"></button>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center mt-5" style="font-size: 1.6rem">
  Already got an account?
  <span class="mb-3" style="font-size: 1.2rem">Go to Log in</span>
  <button pButton class="p-button-raised" label="Log in" (click)="goToLogin()"></button>
</div>
