/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

* {
  font-size: 1rem;
  font-family: 'Palatino Linotype', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: url('assets/bg10.jpg') no-repeat center center fixed;
  //background: rgba(64, 224, 208, 0.2);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.full-width {
  width: 100%;
}

.title {
  font-size: 2rem;
}

.p-card {
  background: var(--gray-50) !important;
}

.p-menubar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
}

.mt-large {
  margin-top: 100px;
}

.card {
  box-shadow: 0px 0.4px 2.2px rgba(0, 0, 0, 0.02),
  0px 1px 5.3px rgba(0, 0, 0, 0.028),
  0px 1.9px 10px rgba(0, 0, 0, 0.035),
  0px 3.4px 17.9px rgba(0, 0, 0, 0.042),
  0px 6.3px 33.4px rgba(0, 0, 0, 0.05),
  0px 15px 80px rgba(0, 0, 0, 0.07);
}

.add-button {
  background: var(--blue-600) !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: white !important;
  font-size: 1.2rem;

  .p-menuitem-icon {
    color: red !important;
  }
}

.p-menubar .p-menubar-root-list > .p-menuitem > {

  .p-menuitem-icon {
    color: red !important;
  }

  :hover {
    background: #9b9bff !important;
  }

  :focus {
    background: #9b9bff !important;
  }

}

.p-menubar .p-menubar-root-list > .p-menuitem .p-menuitem-link {

  :hover {
    color: black !important;
  }
}


.buy-button {
  .pi-shopping-cart:before {
    color: white !important;
  }
}

.pi {
  color: black !important;
}

.footer {
  margin-top: auto;
  text-align: right;
  bottom: 0;
}

@media screen and (max-width: 360px) {

  .mt-large {
    margin-top: 150px;
  }
}

.p-menubar {
  border: 0 !important;
}

.p-dialog {
  width: 500px !important;
  height: 480px !important;
}

h1 {
  font-size: 3.5rem;
  font-weight: bolder;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: black !important;
  }
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button:hover {
    color: #6c757d;
    background: #4c7eb1;
  }
}

.navbar-pi-bars {
  .pi-bars {
    color: white !important;

    :hover {
      color: black !important;
    }
  }
}


.products-cart {
  .pi-shopping-cart {
    color: black !important;
  }
}

.pi-shopping-cart {
  color: white !important;

  @media screen and (max-width: 960px) {
    color: black !important;
  }
}

.pi-shopping-bag {
  color: white !important;

  @media screen and (max-width: 960px) {
    color: black !important;
  }
}

.pi-user {
  color: white !important;

  @media screen and (max-width: 960px) {
    color: black !important;
  }
}

.pi-angle-down {
  color: white !important;

  @media screen and (max-width: 960px) {
    color: black !important;
  }
}

.confirm-order-dialog {
  height: 250px !important;
}

.p-tooltip-text {
  text-align: center !important;
}

.pi-cloud {
  color: white !important;
  //font-size: 2rem !important;
}
